.svn/
Win32/
x64/
.tmp/
*.opensdf
*.sdf
*.suo
*.user

obj/
lz4mt
*.o
*.a
*.so.*

lz4/programs/fullbench
lz4/programs/fullbench32
lz4/programs/fuzzer
lz4/programs/fuzzer32
lz4/programs/lz4
lz4/programs/lz4c
lz4/programs/lz4c32
